<a href="https://colab.research.google.com/github/milesba4/CS158-ML/blob/main/homework2%20(Basics%20of%20KNN).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Homework 2**

We begin with the usual imports.

In [ ]:
import numpy as np
import pandas as pd

Now load the iris dataset.

In [ ]:
iris=pd.read_csv("https://vincentarelbundock.github.io/Rdatasets/csv/datasets/iris.csv",index_col=0)
iris.head(5)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

Define `data` to be a DataFrame containing the `Petal.Length` and `Petal.Width` of the flowers in the iris dataset. Define `target` to be a Pandas Series containing the `Species` column.

In [ ]:
data=pd.DataFrame(iris, columns = ["Petal.Length", "Petal.Width"])
data
target=iris['Species']
target

1         setosa
2         setosa
3         setosa
4         setosa
5         setosa
         ...
146    virginica
147    virginica
148    virginica
149    virginica
150    virginica
Name: Species, Length: 150, dtype: object

Define a function `sq_distances` with inputs `data` (a DataFrame of known Petal Lengths and Petal Widths), `length` and `width` (the Petal Length and Petal Width of an unknown flower). The function should return a Pandas series of squared distances from the unknown point to each point in `data`. Use Pandas and/or Numpy operations. DO NOT USE A FOR LOOP.

In [ ]:
def sq_distances(data,length,width):
  return (data['Petal.Width']-width)**2 + (data['Petal.Length']-length)**2

Define a function `SpeciesOfKNeighbors` that gives the Species of the k nearest neighbors from the point with given Petal Length and Petal Width to the points in `data`. (The list of species for each point in `data` is contained in the Series `target`.)

In [ ]:
def SpeciesOfKNeighbors(data,target,x,y,k):
  return target.loc[sq_distances(data, x, y).sort_values()[0:k].index]
print(SpeciesOfKNeighbors(data,target,1,1,3))

17    setosa
44    setosa
42    setosa
Name: Species, dtype: object

Create a function `prediction` that takes a Pandas Series of labels, and returns the label that appears the most often. (Hint: The Pandas Series function `value_counts()` will be useful here.

In [ ]:
def prediction(labels):
  return labels.value_counts().index[0]
prediction(SpeciesOfKNeighbors(data,target,1,1,6))

'setosa'

Create a function `KNN` which takes a DataFrame `data` of known Petal Lengths and Petal Widths, a Series `target` containing their species, a hyperparameter `k`, and the `length` and `width` of the petal of an unknown flower. Your function should return the most common species among the k nearest neighbors of the unknown flower.

In [ ]:
def KNN(data,target,x,y,k):
  #Generate list of sq distances 
  labels = SpeciesOfKNeighbors(data,target,x,y,k)
  return prediction(labels)

Test your code here (it should return 'setosa'):

In [ ]:
KNN(data,target,1.4,0.2,3)

'setosa'